extends layout
block other
    p
block content
    div.container
        div.row
            div
                #user
                    h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
                        div.signup-wall
                            ul.user-details
                                li Username ---> #{user.username}
                                li Email    ---> #{user.email}
                                li First Name ---> #{user.firstName}
                                li Last Name ---> #{user.lastName}
                        a(href='/signout', class='text-center new-account') Sign Out
                        br
                        a(href='/jademap', class='text-center') Visit our Map Site
